
@media print {
    body {
        font-family: 'Museo Sans';
        color: #000;
    }

    nav { display: none; }

    .btn-group { display: none; }
    .btn { display: none; }

    a {
        text-decoration: none;
        color: #000;
    }

    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    th {
        border-bottom: 1px solid #888;
    }

    td {
        border-top: 1px solid #bbb;
    }

    tr {
    }

    tr.details td {
        color: #888;
        font-style: italic;
    }
}
