<!DOCTYPE html>
{% macro render_nav(endpoint, name) %}
  {% if endpoint == request.endpoint %}
    <li class="active">
      {% else  %}
    <li>
  {% endif %}
  <a href="{{ url(endpoint) }}">{{ name }}</a>
  </li>
{% endmacro %}

{% macro render_flash_messages() %}
  {% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endmacro %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Parts{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block css %}
      <link href="{{ static('css/app.css') }}" rel="stylesheet" type="text/css">
      <link href="{{ static('css/print.css') }}" rel="stylesheet" type="text/css" media="print">
    {% endblock %}
  </head>
  <body>

    {% block navbar %}
      <div class="container">
        <nav class="navbar navbar-default">
          <button type="collapse" class="navbar-toggle collapsed"
                  data-toggle="colapse"
                  data-target="#parts-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand"  href="/">Parts</a>

          <div class="navbar-collapse collapse" id="parts-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {{ render_nav('category_index', 'Categories') }}
              {{ render_nav('component_index', 'Components') }}
              {{ render_nav('bom_index', "BOM's") }}
              {{ render_nav("manufacturer_index", "Manufacturers") }}
              {{ render_nav("distributor_index", "Distributors") }}
            </ul>
          </div>
        </nav>
      </div>
    {% endblock %}

    <div class="container">
      {% block header %}{% endblock %}
      {% block content %}{% endblock %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
