{% extends "main/base.html" %}

{% block content %}
  <div class="page-header">
    <h1>BOM index</h1>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>

    <tbody>
      {% for bom in boms %}
        <tr>  
            <td>
                <a href="{{ url("bom_details", pk=bom.id) }}">{{ bom.name }}</a>
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
