{% extends "main/base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Categories</h1>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for c in categories %}
        <tr>
          <td>
            <a href="{{ url("category_component_index", pk=c.id) }}">{{ c.name }} <span class="badge">{{ c.components.count() }}</span></a>
          </td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>
    {{categories|length}} categories.
  </p>
{% endblock %}
