{% extends "main/base.html" %}

{% block content %}
  <div class="page-header">
    <h1>{{form.instance.name}}</h1>
  </div>

  <form action="" method="post">
    {{ form.as_p }}
  </form>
{% endblock %}
