{% extends "main/base.html" %}

{% block content %}
  <div class="page-header">
    <h1>{{category.name}}</h1>
  </div>

  <p>
    {{category.notes}}
  </p>

  <p>
    <a href="{{ url("category_component_index", pk=category.id) }}">Show components</a>
  </p>

{% endblock %}
