{% extends "main/base.html" %}

{% block content %}
  <div class="page-header">
    <h1>{{ title }}</h1>
  </div>

  <table class="table table-bordered">
    <tr>
      {% for col in columns %}
        {% if order == col[0] %}
            {% set o = "-" + col[0] %}
        {% else %}
            {% set o = col[0] %}
        {% endif %}
        <th><a href="?order={{o}}">{{ col[1] }}</a></th>
      {% endfor %}
      {% for _, name in attribute_types %}
        <th>{{ name }}</th>
      {% endfor %}
    </tr>

    {% for c in components %}
      <tr>
        {% for col in columns %}
          <td><a href="{{ url("component_edit", pk=c.id) }}">{{ c[col[0]] or ""}}</a></td>
        {% endfor %}

        {% for attr_type, _ in attribute_types %}
          {% set v = c.get_attribute_for(attr_type) %}
          {% if v %}
            <td>{{ attr_type.format(v.value) }}</td>
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

  <p>
    {{components|length}} components.
  </p>
{% endblock %}
