{% extends "main/base.html" %}

{% block content %}
<div class="page-header">
    <h1>{{object.part_id}}</h1>
</div>

<dl class="dl-horizontal">
    <dt>Part ID</dt>
    <dd>{{object.part_id}}</dd>

    <dt>Category</dt>
    <dd>{{object.category.name}}</dd>

    <dt>Manufacturer</dt>
    <dd>{{object.manufacturer.name}}</dd>

    <dt>Manufacturer P/N</dt>
    <dd>{{object.manufacturer_pn}}</dd>

    <dt>Package</dt>
    <dd>{{object.package.name}}</dd>

    <dt>In stock</dt>
    <dd>{{object.in_stock}}</dd>
</dl>

<dl class="dl-horizontal">
    {% for attr in object.attributes.all() %}
        <dt>{{attr.attribute_type.name}}</dt>
        <dd>{{attr.value}}</dd>
    {% endfor %}
</dl>

<p>
    {{object.notes}}
</p>
{% endblock %}
