{% extends "main/base.html" %}

{% block content %}
<div class="page-header">
    <h1>Distributors</h1>
</div>

<table class="table table-bordered">
    <tr>
        <th>Name</th>
    </tr>

    {% for d in distributors %}
        <tr>
            <td>
                {{ d.name }}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
