<table class="table">
  <thead>
    <tr>
      {% if 'parts' in cols %}<th>Parts</th>{% endif %}
      {% if 'component' in cols %}<th>Component</th>{% endif %}
      {% if 'manufacturer' in cols %}<th>Manufacturer</th>{% endif %}
      {% if 'pn' in cols %}<th>P/N</th>{% endif %}
      {% if 'in_stock' in cols %}<th>In Stock</th>{% endif %}
      {% if 'cost' in cols %}<th>Cost</th>{% endif %}
      {% if 'total' in cols %}<th>Total</th>{% endif %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      {% with component = row.component %}
        <tr>
          {% if 'parts' in cols %}
            <td>{# row['items'] | join(", ", attribute='part') #}
              {{ row["items"] | join(", ", attribute="part") }}
            </td>
          {% endif %}

          {% if component %}
            {% with price = component.best_price() %}
              {% if price %}
                {% set total = (row['items']|length) * price %}
              {% else %}
                {% set total = None %}
              {% endif %}

              {% if 'component' in cols %}<td><a href="{{ url("component_edit", pk=component.id) }}">{{ component.part_id }}</a></td>{% endif %}
              {% if 'manufacturer' in cols %}<td>{{ component.manufacturer.name or '' }}</td>{% endif %}
              {% if 'pn' in cols %}<td>{{ component.manufacturer_pn }}</td>{% endif %}
              {% if 'in_stock' in cols %}<td>{{ component.in_stock }}</td>{% endif %}
              {% if 'cost' in cols %}<td>{{ price or '' }}</a></td>{% endif %}
              {% if 'total' in cols %}<td>{{ total or ''}}</td>{% endif %}
            {% endwith %}
          {% else %}
            {% if 'parts' in cols %}<td></td>{% endif %}
            {% if 'component' in cols %}<td></td>{% endif %}
            {% if 'manufacturer' in cols %}<td></td>{% endif %}
            {% if 'pn' in cols %}<td></td>{% endif %}
            {% if 'in_stock' in cols %}<td></td>{% endif %}
            {% if 'total' in cols %}<td></td>{% endif %}
          {% endif %}
        </tr>

        {% if component %}
          <tr class="details">
            <td></td>
            <td colspan="{{ cols|length - 1 }}">
              {% for attr in component.attributes.all() %}
                {% with atype = attr.attribute_type %}
                  {{ atype.name }}: {{ atype.format(attr.value) }}{% if not loop.last %}, {% endif %}
                {% endwith %}
              {% endfor %}

              {% for c in row.items() %}
                {% if c.notes %}
                  <br>
                  {% if row.items|length == 1 %}
                    <em>{{ c.notes }}</em>
                  {% else %}
                    <b>{{ c.part }}:</b> <em>{{ c.notes }}</em>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </td>
          </tr>
        {% endif %}
      {% endwith %}
    {% endfor %}
  </tbody>

  <tfoot>
    {% if 'total' in cols %}
      <tr>
        {% if 'parts' in cols %}<td></td>{% endif %}
        {% if 'component' in cols %}<td></td>{% endif %}
        {% if 'manufacturer' in cols %}<td></td>{% endif %}
        {% if 'pn' in cols %}<td></td>{% endif %}
        {% if 'in_stock' in cols %}<td></td>{% endif %}
        <td>Sum:</td>
        <td>{{ sum }}</td>
      </tr>
    {% endif %}
  </tfoot>
</table>
